

.sNotify_message {
    width: 250px;
    padding: 20px;
    background-color: white;
    position: absolute;
    display: none;
    left: 1px;
    top: 45px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-top: 300px;
    text-align: left;
    border: 1px solid #808080;
    color:black;
    font-size: 15px;
    z-index: 1;

}

.sNotify_close {
    display: block;
    background-color: black;
    padding: 3px;
    position: absolute;
    top: -5px;
    right: -5px;
    color: white;
    font-weight: bold;
    width: 10px;
    height: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 10px;
}
.sNotify_close:after {
    content:"X";
}