#iframe_wrapper{
    position: absolute;
    top: 40%;
    width: 30%;
    height: 30%;
    right: 50px;
}
#bday{
    position: absolute;
    bottom: -6%;
    height: 35%;
    right: 2%;
    font-family: Hobo Std;
    font-size: 1.5em;
}
#bday2{
    font-size: 15px;
}
#bday3{
    font-family: Infinite Stroke;
    color: red;
}
#bday4{
    overflow: auto;
    height: 200px;
    width: 100%;
    max-width: 400px;
    font-family: Vijaya;
    border: gray solid;
    border-width: 1px;
    font-weight: 900;
    font-size: 0.6em;
}